.timer-count {
    margin-left: 90%;
    font-weight: bold;
}

.prompt-space {
    margin: 20%;
    text-align: center;
    justify-items: center;
    font-size: larger;
    line-height: 30px;  
}

/* .hide {

} */

.score-container {
    justify-items: center;
    display: none;
}
.hidden {
    display: none;
}

/* .block {
    display:none;
} */
.question-container {
    justify-items: center;
    display: none;
}

button:hover {
    background-color: darkgray;
    color: #fff;
}
.btn {
    height: max-content;
    display:block;
    padding: 5px;
    margin: 10px;
    background-color: gray;
    border-radius: 5px
    
}